body {
  font-family: "Raleway", sans-serif;
}
.header {
}
.header-navigation {
}
.header-logo {
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}
.header-list {
}
.list {
  list-style: none;
}
.header-item {
}
.header-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.header-address {
}
.header-email {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* Hero */
.hero {
}
.hero-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
